VITE_SUPABASE_URL=https://unobjdaozvkdbdfbmwfq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_KxATdmJX9jQdGipr4_tnKA_HQ7Owz8m
VITE_GOOGLE_FORMS_API_KEY=your_google_forms_api_key
VITE_GOOGLE_FORM_ID=your_google_form_id
VITE_ADMIN_MASTER_KEY=sirjogwapo